<?xml version="1.0" encoding="UTF-8"?>
<CustomMetadata xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <label>Loss Verification</label>
    <protected>false</protected>
    <values>
        <field>Child_Relationship__c</field>
        <value xsi:type="xsd:string">Loss_Verifications__r</value>
    </values>
    <values>
        <field>Parent__c</field>
        <value xsi:type="xsd:string">Property__c</value>
    </values>
</CustomMetadata>
